html,
body {
    background: rgb(0, 77, 121);
    background: radial-gradient( circle, rgba(0, 77, 121, 1) 4%, rgba(1, 1, 42, 1) 100%, rgba(19, 9, 47, 1) 100%);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}